<link href="/app/dashboard/dashboard.css" rel="stylesheet" />

<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Knots ({{ vm.knots.length }} total)"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    <tr data-ng-repeat="k in vm.knots">
                                        <td><a href="#/knot/{{k.name}}"><img ng-src="{{ k.imageUrl }}" class="knot" /> {{k.name}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Categories"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="c in vm.categories">
                                        <td>{{c}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="{{vm.news.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <small>{{vm.news.description}}</small>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>